{
  "Default": {
    "admin_ui.https.ip_address": "eth0",
    "admin_ui.https.port": "943",
    "auth.ldap.0.name": "My LDAP servers",
    "auth.ldap.0.ssl_verify": "never",
    "auth.ldap.0.timeout": "4",
    "auth.ldap.0.use_ssl": "never",
    "auth.module.type": "pam",
    "auth.pam.0.service": "openvpnas",
    "auth.radius.0.acct_enable": "false",
    "auth.radius.0.name": "My Radius servers",
    "cs.cws_proto_v2": "true",
    "cs.https.ip_address": "eth0",
    "cs.https.port": "943",
    "cs.prof_sign_web": "true",
    "cs.ssl_method": "SSLv3",
    "cs.tls_version_min": "1.0",
    "host.name": "{{ eip }}",
    "sa.initial_run_groups.0": "web_group",
    "sa.initial_run_groups.1": "openvpn_group",
    "vpn.client.routing.inter_client": "false",
    "vpn.client.routing.reroute_dns": "false",
    "vpn.client.routing.reroute_gw": "false",
    "vpn.daemon.0.client.netmask_bits": "24",
    "vpn.daemon.0.client.network": "172.{{ cidr }}.8.0",
    "vpn.daemon.0.listen.ip_address": "eth0",
    "vpn.daemon.0.listen.port": "443",
    "vpn.daemon.0.listen.protocol": "tcp",
    "vpn.daemon.0.server.ip_address": "eth0",
    "vpn.server.daemon.enable": "true",
    "vpn.server.daemon.tcp.n_daemons": 1,
    "vpn.server.daemon.tcp.port": "443",
    "vpn.server.daemon.udp.n_daemons": 1,
    "vpn.server.daemon.udp.port": "1194",
    "vpn.server.group_pool.0": "172.{{ cidr }}.8.0/24",
    "vpn.server.port_share.enable": "true",
    "vpn.server.port_share.ip_address": "1.2.3.4",
    "vpn.server.port_share.port": "1234",
    "vpn.server.port_share.service": "admin+client",
    "vpn.server.routing.private_access": "nat",
    "vpn.server.routing.private_network.0": "172.{{ cidr }}.0.0/24",
    "vpn.server.routing.private_network.1": "172.{{ cidr }}.1.0/24",
    "vpn.server.routing.private_network.2": "172.{{ cidr }}.2.0/24",
    "vpn.server.routing.private_network.3": "172.{{ cidr }}.3.0/24",
    "vpn.server.routing.private_network.4": "172.{{ cidr }}.4.0/24",
    "vpn.server.routing.private_network.5": "172.{{ cidr }}.5.0/24",
    "vpn.server.routing.private_network.6": "172.{{ cidr }}.6.0/24",
    "vpn.server.routing.private_network.7": "172.{{ cidr }}.7.0/24",
    "vpn.server.routing.private_network.8": "172.{{ cidr }}.8.0/24",
    "vpn.server.routing.private_network.9": "172.{{ cidr }}.9.0/24",
    "vpn.server.routing.private_network.10": "172.{{ cidr }}.10.0/24",
    "vpn.server.routing.private_network.11": "172.{{ cidr }}.11.0/24",
    "vpn.tls_refresh.do_reauth": "true",
    "vpn.tls_refresh.interval": "360"
  },
  "_INTERNAL": {
    "run_api.active_profile": "Default",
    "webui.edit_profile": "Default"
  }
}
